html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9e9e9e;
  /* grey browser window background */
}

canvas {
  background-color: #000000;
  /* beige canvas background */
  border: 1px solid black;
  display: block;
  image-rendering: pixelated;
}